*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
bin
gen
.project
.classpath
.settings
.idea
*.iml
*.ipr
*.iws
out
target
release.properties
pom.xml.*
build.xml
local.properties
proguard.cfg
.DS_Store
.gradle
build
app/build
drawview
*.jks
app/release
